@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'cloudy_with_a_chance_of_lovRg';
    src: url('cloudy_with_a_chance_of_love-webfont.woff2') format('woff2'),
        url('cloudy_with_a_chance_of_love-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --brown-color: #72321c;
    --purple-color: #76133b;
    --yellow-color: #EFD800;
    --black-color: #1c1c1d;
    --white-color: #fff;

    --primary-font: 'cloudy_with_a_chance_of_lovRg', sans-serif;
    --secondary-font: "gambay", sans-serif;
    --main-text-color: #000;

    --white-space: 2rem;
}

html {
    font-size: 100%;
    font-family: var(--primary-font);
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2 * var(--white-space));
}

.header-wrapper h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: 0.75em;
    font-weight: bold;
    color: var(--purple-color);
}

.header-wrapper h2 {
    font-size: 1.6em;
    color: var(--brown-color);
    font-weight: bold;
    margin: var(--white-space) 0;
}

.header-wrapper h3 {
    font-size: 1.2rem;
    font-style: italic;
}

.header-wrapper h4 {
    font-size: 0.8rem;
}

main {
    padding: calc(2 * var(--white-space));
}

section {
    margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
    font-style: italic;
    font-size: 1.3rem;
    color: #777;
    margin: 0.5rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

.swatches li {
    margin-right: 5vw;
    height: 15vw;
    width: 20%;
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    background-color: var(--brown-color);
}

.color-swatch-2 {
    background-color: var(--purple-color);
}

.color-swatch-3 {
    background-color: var(--yellow-color);
}

.color-swatch-4 {
    background-color: var(--black-color);
}

.color-swatch-5 {
    background-color: var(--white-color);
}

button {
    letter-spacing: 1px;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:focus,
button:active,
button:focus-within {
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
}

.btn {
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    margin: 40px;
    font-family: var(--main-font);
    font-size: 1.6em;
}

.purple {
    fill: var(--purple-color);
}

.black {
    fill: var(--black-color);
}

.btn > svg {
    position: absolute;
    display: block;
    margin: -26px -34px;
    z-index: -1;
    fill: #76133b;
}

.typography-main {
    color: var(--main-text-color);
}

.h1-sample {
    font-size: 2.4rem;
    font-weight: bold;
}

.h2-sample {
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 1.25rem;
}

p.typography-sample {
    font-family: var(--secondary-font);
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    font-family: var(--primary-font);
    color: var(--purple-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    opacity: 0.5;
}

p[class*="font-details-"] {
    margin-top: 0.5rem;
    margin-bottom: calc(2 * var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 2rem;
    opacity: 0.8;
}

.adjectives ul {
    flex-direction: column;
}

footer {
    font-style: italic;
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .swatches li {
        margin-right: 3%;
        height: 10vw;
        width: 20%;
    }

    .textures li {
        height: 15vw;
    }
}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
